.form {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 30px;
  margin: 100px auto;
  padding: 0 50px; }

.form__input {
  display: grid;
  grid-template-columns: 86px 1fr;
  column-gap: 5px;
  margin-bottom: 15px; }

.form__terms {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 35px; }

.form__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 35px 15px; }

.form__label {
  padding: 15px 0; }
